body {
	background-color: #333333;
	/*font-size: 20pt;*/
	font-family: "Courier New", monospace;
}

input {
	font-family: "Courier New", monospace;
	font-size: 12pt;
	width: 40px;
	margin: 10px;
}

#game-area {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#message {
	width: inherit;
	display: none;
	box-sizing: border-box;
}

#message p {
	margin: 0px;
	padding: 5px;

	color: #d00;
	font-weight: bolder;
	font-variant: small-caps;
	/*text-shadow: 0px 0px 3px blue;*/
	text-align: center;
}

/************** Game header **************/

#game-header {
	position: relative; /* for proper dropdown display */
	background-color: #bbb;
	height: 55px;
	border: 3px outset #bbb;
	padding-top: 10px;
	padding-left: 3%;
	padding-right: 3%;
	font-family: monospace;
	box-sizing: border-box; /* for making sure header stays within game area */
	width: inherit;
}

.settings-dropdown {
	font-size: 20pt;
	float: left;
	text-align: left;
	width: 10%;
}

.settings-content {
	font-size: 12pt;
	position: absolute;
	background-color: #bbb;
	padding: 10px;
	left: -0.3%;
	border: 3px ridge #777;
	z-index: 2; /* so win-message doesn't overlap */
	display: none;
}

.settings-content div {
	float: left;
	clear: left;
}

.settings-content p {
	float: left;
}

.settings-dropdown:hover .settings-content {
	display: block;
}

#info {
	width: 120px; /* keep static for centering at all widths */
	margin: auto;
}

/* begin info inner */

#time-elapsed {
	background-color: black;
	float: left;
	height: 30px;
	display: inline-block;
}

#time-counter {
	font-size: 20px;
	text-align: center;
	color: red;
	margin: 3px;
}

#minesweeper-face {
	float: left;
	text-align: center;
	position: relative;
	box-sizing: border-box;
	height: 30px;
	width: 30px;
	padding: 0px;
	display: inline-block;
}

#face {
	text-align: center;
	margin: 0px;
	margin-top: 5px;
}

#mines-remaining {
	background-color: black;
	float: left;
	height: 30px;
	display: inline-block;
}

#mine-counter {
	font-size: 20px;
	text-align: center;
	color: red;
	margin: 3px;
}

/* end info inner */

#flag-mode {
	float: right;
}

#flag-mode p {
	font-size: 20pt;
	text-align: right;
	margin: 0px;
	margin-top: 3px;
}

/************** Game space ***************/

.row {
	float: left;
	clear: both;
}

.square {
	background-color: #bbb;
	height: 30px;
	width: 30px;
	float: left;
	/* for the text inside, might redo this eventually */
	font-family: "Courier New", monospace;
	text-align: center;
	vertical-align: middle;
	font-size: 20pt;
	font-weight: bold;
	line-height: 30px;
}

.default {
	background-color: #bbb;
	border: 3px outset #bbb;
}

.pressed {
	border: 3px inset #bbb;
}

.square.revealed {
	border-top: 3px solid #777;
	border-left: 3px solid #777;
	border-bottom: 3px solid #bbb;
	border-right: 3px solid #bbb;
}

.square.exploded {
	background-color: #d00;
	border: 3px inset #bbb;
}